 body {
     display: flex;
     justify-content: center;
     /* padding: 2vh; */
 }

 * {
     margin: 1rem;
 }

 #navbar-header {
     font-size: small;
 }

 .main-song {
     margin-top: -0.7em;
     font-size: 1.5rem;
     text-align: center;
 }

 span {
     color: rgb(97, 87, 87)
 }

 .navbar-container {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     color: rgb(134, 129, 129)
 }

 .song-header {
     margin-top: -1rem;
     /* border: solid; */
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 img {
     height: 15rem;
     width: 25rem;
     box-shadow: rgb(182, 171, 171) 0px 10px 13px;
 }

 .hero-section-container-1 {
     display: flex;
     justify-content: center;

 }

 .line-4 hr {
     height: 3px;
     border: 0;
     background: rgb(180, 173, 173)
 }

 .hero-section-container-2 {
     display: flex;
     justify-content: space-between;
     margin-top: -1.8em;
     color: rgb(153, 140, 140);
     /* border: solid; */
 }

 .play-icons {
     display: flex;
     margin-top: -1.8em;
     justify-content: space-between;
     color: rgb(172, 161, 161);
     /* border: solid; */
     align-items: center;
 }

 .dot-div {
     display: flex;
     justify-content: flex-start;
     gap: 0.2rem;
 }

 .writer-name {
     font-size: 0.8em;
 }

 .dot-and-name {
     margin-left: -0.4em;
     color: rgb(42, 42, 129);
 }

 .name-of-song {
     margin-left: -1em;
 }

 /* .dot{
  
} */
 .song-list-container {
     display: flex;
     flex-direction: column;
 }

 .song-and-time {
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     margin: 1rem;
 }

 .main-conatainer {
     box-shadow: rgb(182, 171, 171) 0px 13px 13px;
 }